 .latte-workspace__input-wrapper {
   width: 100%;
   min-width: 0;
   display: flex;
   height: 28px;
   align-items: center;
   box-sizing: border-box;
 }

 .latte-workspace__input {
   border: none;
   outline: none;
   height: 28px;
   display: inline-block;
   width: 100%;
   border-radius: 2px;
   padding: 0 0 0 8px;
   background-color: transparent;
 }


 .latte-workspace__input-prefix-wrapper {
   display: inline-block;
   height: 32px;
   width: 32px;
   line-height: 32px;
   text-align: center;
   font-size: 12px;
   color: var(--color-text-secondary)
 }

 .displayContents {
   display: contents
 }